.swal-content {
  padding: 0 20px;
  margin-top: 20px;
  font-size: initial;
  }
  .swal-content:last-child {
    margin-bottom: 20px;
    }

  .swal-content__input,
  .swal-content__textarea {
    -webkit-appearance: none;
    background-color: white;
    border: none;
    font-size: 14px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.14);
    padding: 10px 13px;
    border-radius: 2px;
    transition: border-color 0.2s;
    }
    .swal-content__input:focus {
      outline: none;
      border-color: #6DB8FF;
      }
  .swal-content__textarea {
    resize: vertical;
    }